@model TrabalhoClienteASPMVC.CLIENTE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CLIENTE</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CD_CLIENTE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CD_CLIENTE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NM_CLIENTE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NM_CLIENTE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DS_EMAIL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DS_EMAIL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CD_SEXO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CD_SEXO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VL_SALDO_CREDITOS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VL_SALDO_CREDITOS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DS_LOGRADOURO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DS_LOGRADOURO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NR_LOGRADOURO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NR_LOGRADOURO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DS_COMPLEMENTO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DS_COMPLEMENTO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NM_BAIRRO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NM_BAIRRO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NM_CIDADE)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NM_CIDADE)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SG_ESTADO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SG_ESTADO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NR_CEP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NR_CEP)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
